styles.css
holberton_school-icon/demo.html
holberton_school-icon/Read Me.txt
holberton_school-icon/selection.json
holberton_school-icon/style.css
holberton_school-icon/style.scss
holberton_school-icon/variables.scss
holberton_school-icon/demo-files/demo.css
holberton_school-icon/demo-files/demo.js
holberton_school-icon/fonts/holberton_school-icon.eot
holberton_school-icon/fonts/holberton_school-icon.svg
holberton_school-icon/fonts/holberton_school-icon.ttf
holberton_school-icon/fonts/holberton_school-icon.woff
images/concept.jpg
images/favicon.ico
images/favicon.png
images/footerD.gif
images/footerM.gif
images/headerD.gif
images/headerM.gif
images/headphones_hero_1.jpg
images/headphones_hero_2.jpg
images/logo_headphones.png
images/pentagone.png
images/pic1.png
